<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
<body class="container">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <%if (typeof(error) !== "undefined" && error === true) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages %>
            </div>
          <% } %>

        <div class="jumbotron">
            <h1>SKU Locator</h1>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Customers</h3>
            </div>
            <div class="panel-body">
                <table id="CustomerTable" class="table table-striped table-bordered table-hover responsive" width="100%">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th>Nama Produk</th>
                        <th>SKU</th>
                        <th>Stok</th>
                        <th>Nama Rak</th>
                        <th>Kode Rak</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <form action="/bin-item/" method="post">
            <label for="sku">SKU:</label>
            <select id="itemSelection" name="item_id">
                <option></option>
                <% for(let i = 0; i < items.length; i++) { %>
                    <option value="<%= items[i].item_id %>" name="item_id"><%= items[i].item_code %></option>
                <% } %>
            </select>
            <label for="bin">Kode Rak:</label>
            <select id="binSelection" name="bin_id">
                <option></option>
                <% for(let i = 0; i < bins.length; i++) { %>
                    <option value="<%= bins[i].bin_id %>" name="bin_id"><%= bins[i].bin_code %></option>
                <% } %>
            </select>
            <button id="buttonClick" type="submit" class="btn btn-primary mb-2">Simpan</button>
        </form>
        <p id="demo"></p>
        <form id="/" role="search">
            <input type="search" id="query" name="q"
             placeholder="Cari SKU/Kode Rak">
            <button>Search</button>
        </form>
        <br>
        <div class="row">

            <table>
                <tr>
                    <th>Nama Produk</th>
                    <th>SKU</th>
                    <th>Stok</th>
                    <th>Nama Rak</th>
                    <th>Kode Rak</th>
                    <th>Action</th>
                </tr>
                <% for(let i = 0; i < skuLocations.length; i++) { %>
                <tr>
                    <td><%= skuLocations[i].item_name %></td>
                    <td><%= skuLocations[i].item_code %></td>
                    <td><%= skuLocations[i].stock %></td>
                    <td><%= skuLocations[i].bin_name %></td>
                    <td><%= skuLocations[i].bin_code %></td>
                    <td><button onclick='deleteBIA("<%= skuLocations[i].bin_item_activity_id %>")'>hapus</button></td>
                </tr>
                <% } %>
              </table>

        </div>        
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>

<style>
    table, td, th {
       border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<script>
    $(document).ready(function(){ 
        $('#datatext').on('keyup',function(){
            $('#contentselect').focus().attr('size', 3);
        }); 
    });
    function deleteBIA(id) {
        axios.delete('http://localhost:3030/bin-item/', {data: {bin_item_activity_id: id}
        }).then(function(res) {
            if (res.data.success === 'ok') {
                location.reload();
            }
        }).catch(function(err) {
            alert(err.message);
        });
    };

    function myFunction() {
      let text = document.getElementById("bin_name").value;
      document.getElementById("demo").innerHTML = "You wrote: " + text;
    }

    $('#itemSelection').editableSelect();
    $('#binSelection').editableSelect();
    (function($) {
      var generateCustomerTable = $("#CustomerTable")
        .dataTable({
          "processing": false,
          "serverSide": false,
          "ajax": {
            "url": "/bin-item/"
          },
          "columns": [
            { "data": "item_name" }, { "data": "item_code" }, { "data": "stock" },
            { "data": "bin_name" }, { "data": "bin_code"}
          ],
          "language": {
            "emptyTable": "There are no customers at present.",
            "zeroRecords": "There were no matching customers found."
          },
          "searching": true,
          "ordering": true,
          "paging": true
        });
    })(jQuery);

</script>