<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
<body class="container">
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <%if (typeof(error) !== "undefined" && error === true) { %>
            <div class="alert alert-danger" role="alert">
              <%= messages %>
            </div>
          <% } %>

        <div class="jumbotron">
            <h1>Daftar Barang</h1>
        </div>

        <label for="item_name">Nama Barang:</label><br>
        <input type="text" id="item_name" name="item_name" value=""><br>
        <label for="item_code">SKU:</label><br>
        <input type="text" id="item_code" name="item_code" value=""><br>
        <label for="stock">Stock:</label><br>
        <input type="text" id="stock" name="stock" value=""><br><br>
        <button onclick="postItem()" class="btn btn-primary mb-2">Simpan</button>
        <br>
        <form id="/item/" role="search">
            <input type="search" id="query" name="q"
                placeholder="Cari Nama Rak/Kode Rak">
            <button>Search</button>
        </form>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Barang</h3>
            </div>
            <div class="panel-body">
                <table id="ItemTable" class="table table-striped table-bordered table-hover responsive" width="100%">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th>Nama Barang</th>
                        <th>Kode Barang</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>
</html>

<style>
    table, td, th {
       border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<script>
    let apiUrl = '<%= process.env.API_URL %>';
    function deleteItem(id) {
        axios.delete(`${apiUrl}/item/`, {data: {item_id: id}
        }).then(function(res) {
            if (res.data.success === 'ok') {
                location.reload();
            }
        }).catch(function(err) {
            alert(err.message);
        });
    };

    function postItem() {
        let item_name = $('#item_name').val();
        let item_code = $('#item_code').val();
        let stock = $('#stock').val();
        axios.post(`${apiUrl}/item`, {item_name, item_code, stock}
        ).then(function(res) {
            if (res.data.success === 'ok') {
                location.reload();
            }
        }).catch(function(err) {
            alert(err.message);
        });
    }

    (function($) {
      var generateItemTable = $("#ItemTable")
        .dataTable({
          "processing": false,
          "serverSide": false,
          "ajax": {
            "url": "/item/item-list"
          },
          "columns": [
            { "data": "item_name" }, { "data": "item_code"},
            {
                        "data": "item_id",
                        "render": function (data) {
                            return `<div class="text-center">
                            <a class='btn btn-danger text-white' style='cursor:pointer; width:100px;' onclick="deleteItem(${data})" >
                               <i class='far fa-trash-alt'></i> Delete
                            </a></div>
                        `;
                        }, "width": "5%"
                    },
          ],
          "language": {
            "emptyTable": "There are no customers at present.",
            "zeroRecords": "There were no matching customers found."
          },
          "searching": true,
          "ordering": true,
          "paging": true
        });
    })(jQuery);
</script>